{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
        <title>Q-Manager</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" />

        <link rel="stylesheet" href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'adminlte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
        <link rel="stylesheet" href="{% static 'adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.min.css' %}">
        <link rel="stylesheet" href="{% static 'adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
       
       
      
        <script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'adminlte/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
        <script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'adminlte/plugins/moment/moment.min.js' %}"></script>
        <script src="{% static 'adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
        <script src="{% static 'adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
        <script src="{% static 'adminlte/dist/js/adminlte.js' %}"></script>
        <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>

        <script src="{% static 'js/promise.min.js' %}"></script>
        <script src="{% static 'js/angularjs/angular.min.js' %}"></script>
        <script src="{% static 'main.js' %}"></script>

        {% block style %}{% endblock %}
</head>
<body ng-app="myApp" class="hold-transition layout-top-nav">
    <div class="wrapper">
        {% include "Component/main-header.html" %}
        {% block content %}{% endblock %}
        {% include "Component/main-footer.html" %}
    </div>
    {% block script %}{% endblock %}
</body> 
</html>