django/q_manager/__pycache__/*
.DS_Store
Disk0/__pycache__/*
django/q_manager/__pycache__/*
django/q_manager/__pycache__/urls.cpython-39.pyc
django/q_manager/__pycache__/urls.cpython-39.pyc
django/q_manager/__pycache__/views.cpython-39.pyc
Disk0/logs/logs.log
