{% extends 'Layout/layout.default.html' %} {% block style %}
<style>
  section {
    border-bottom: 1px solid #ccc;
    margin-top: 1em;
  }
  section .col-md-3 {
    border-left: 1px solid #ccc;
  }
  section .col-md-3:first-child {
    border: none;
  }
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .btn {
    min-width: 80px;
  }
</style>
{% endblock %} 


{% block content %}
<div ng-controller="taskMonitorCtrl" class="container">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Task Monitor</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">หน้าแรก</a></li>
            <li class="breadcrumb-item active">รายการ Task</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <button ng-click="func_goto_create()" type="button" class="btn btn-info btn-sm float-right" >Add Task</button>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <table style="width: 100%" class="table table-hover"> 
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>File</th>
                  <th>Args</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="i in task_list">
                  <td>{$ i.id $}</td>
                  <td>{$ i.task_name $}</td>
                  <td>{$ i.file_name $}</td>
                  <td>{$ i.args $}</td>
                  <td>{$ i.status $}</td>
                  <td>
                    <div ng-if="true || i.status == 'PENDING'">
                      <button ng-click="func_start_task(i.guid)" 
                              class="btn btn-sm btn-success">START</button>
                    </div>

                    <div ng-if="true || i.status != 'PENDING' && i.status != 'FINISH' && i.status != 'TERMINATE' && i.status != 'ERROR' ">
                      <button ng-click="func_stop_task(i.guid)" 
                              class="btn btn-sm btn-danger">STOP</button>
                    </div>

                    <div ng-if="true || i.status != 'PENDING' && i.status != 'RUNNING'">
                      <button ng-click="func_reset_task(i.guid)" 
                              class="btn btn-sm btn-success">Reset</button>
                    </div>


                    <button ng-click="func_log_task(i.guid)" 
                            class="btn btn-sm btn-default">LOG</button>
{% comment %} 
                    <button ng-click="func_edit_task(i.guid)" 
                            class="btn btn-warning">EDIT</button> {% endcomment %}
                  </td>
                </tr>
              </tbody>
              <tfoot></tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section> 

  <div>
  Status Table 
  <ul>
    <li>PENDING     #เพิ่งสร้าง</li>
    <li>RUNNING     #กำลังทำงาน</li>
    <li>FINISH      #ทำงานเสร็จสิ้น</li>
    <li>TERMINATE   #ถูกสั่งให้หยุด</li>
    <li>ERROR       #เกิด Error</li>
  </div>

</div>
{% endblock %} 

{% block script %}
<script>
  app.controller("taskMonitorCtrl", function ($scope, $window) {
    $scope.url_api_show_all_task = "api/task1/show_all";
    $scope.url_api_reset_task = "api/reset";
    $scope.url_api_stop_task = "api/stop";
    $scope.url_api_delete_task = "api/delete";

    $scope.task_list = []
   
    $scope.init = function () {
      $scope.func_show_all_task();
    };
    $scope.func_goto_create= function() {
       $window.location.href = '/create';
    }
    $scope.func_show_all_task = function () {
      $.ajax({
        type: "POST",
        url: "./api/show",
        success: function (res) {
          $scope.$apply(function() {
            $scope.task_list = res;
          }); 
        },
        error: function (jqXHR) {
        },
      });
    };
    $scope.func_start_task = function(guid) {
      ShowLoading(true);
      var _data = {
        'guid' : guid,
      }
      $.ajax({
          type: "POST",
          url: "./api/start",
          data: _data,
          success: function (res) {
              console.log(res)
              ShowLoading(false);
          },
          error: function (jqXHR) {
            Swal.fire({
              icon: "error",
              title: jqXHR.status + ' ' + jqXHR.statusText  ,
              text: jqXHR.responseText,
            });
          },
        });
    }
    $scope.func_stop_task = function(guid) {
        ShowLoading(true);
        var _data = {
          'guid' : guid,
        }
        $.ajax({
          type: "POST",
          url: $scope.url_api_stop_task,
          data: _data,
          success: function (res) {
              ShowLoading(false);
          },
          error: function (jqXHR) {
            Swal.fire({
              icon: "error",
              title: jqXHR.status + ' ' + jqXHR.statusText  ,
              text: jqXHR.responseText,
            });
          },
        });
    }
    $scope.func_log_task = function(guid) {
      ShowLoading(true);
      $window.location.href = '/logs?guid=' + guid;
    }
    $scope.func_edit_task = function(guid) {
      console.log(guid)
      //redirect to edit
    }
    $scope.func_reset_task = function(guid) {
      ShowLoading(true);
      var _data = {
        'guid' : guid,
      }
      $.ajax({
          type: "POST",
          url: $scope.url_api_reset_task,
          data: _data,
          success: function (res) {
              ShowLoading(false);
          },
          error: function (jqXHR) {
            Swal.fire({
              icon: "error",
              title: jqXHR.status + ' ' + jqXHR.statusText  ,
              text: jqXHR.responseText,
            });
          },
        });
    }
    $scope.func_delete_tasl = function(guid) {

    }
    $scope.init();
  });
</script>
{% endblock %}
