{% extends 'Layout/layout.default.html' %} {% block style %}
<style>
  section {
    border-bottom: 1px solid #ccc;
    margin-top: 1em;
  }
  section .col-md-3 {
    border-left: 1px solid #ccc;
  }
  section .col-md-3:first-child {
    border: none;
  }
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .btn {
    min-width: 80px;
  }
</style>
{% endblock %} 


{% block content %}
<div ng-controller="taskMonitorCtrl" class="container">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Task Monitor</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">หน้าแรก</a></li>
            <li class="breadcrumb-item active">รายการ Task</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <button ng-click="func_goto_create()" type="button" class="btn btn-info btn-sm float-right" >Add Task</button>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <table style="width: 100%" class="table table-hover"> 
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>File</th>
                  <th>Args</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="i in task_list">
                  <td>
                  <img 
                    width="64px"
                    src="https://www.flaticon.com/svg/vstatic/svg/2721/2721287.svg?token=exp=1612930192~hmac=a89affa656666a6c00875dfc42cac345"/>
                  </td>
                  <td>{$ i.task_name $}</td>
                  <td>{$ i.file_name $}</td>
                  <td>
                    <textarea cols="40" rows="5" class="form-control" readonly>{$ i.args $}</textarea>
                  </td>
                  <td>{$ i.status $}</td>
                  <td>
                    <div ng-if="true || i.status == 'PENDING'">
                      <button ng-click="func_start_task(i.guid)" 
                              class="btn btn-sm btn-success">START</button>
                    </div>

                    <div ng-if="true || i.status != 'PENDING' && i.status != 'FINISH' && i.status != 'TERMINATE' && i.status != 'ERROR' ">
                      <button ng-click="func_stop_task(i.guid)" 
                              class="btn btn-sm btn-danger">STOP</button>
                    </div>

                    <div ng-if="true || i.status != 'PENDING' && i.status != 'RUNNING'">
                      <button ng-click="func_reset_task(i.guid)" 
                              class="btn btn-sm btn-success">Reset</button>
                    </div>


                    <button ng-click="func_log_task(i.guid)" 
                            class="btn btn-sm btn-default">LOG</button>

                    <button ng-click="func_edit_task(i.guid)" 
                            class="btn btn-warning">EDIT</button> 

                    <button ng-click="func_delete_task(i.guid)" 
                            class="btn btn-warning">DELETE</button> 

                  </td>
                </tr>
              </tbody>
              <tfoot></tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section> 

  <div>
  Status Table 
  <ul>
    <li>PENDING     #เพิ่งสร้าง</li>
    <li>RUNNING     #กำลังทำงาน</li>
    <li>FINISH      #ทำงานเสร็จสิ้น</li>
    <li>TERMINATE   #ถูกสั่งให้หยุด</li>
    <li>ERROR       #เกิด Error</li>
  </div>

</div>
{% endblock %} 

{% block script %}
<script>
  app.controller("taskMonitorCtrl", function ($scope, $window) {
    $scope.task_list = []

    $scope.url_api_show_all_task = "api/task/show";
    $scope.url_api_start_task = "api/task/start";
    $scope.url_api_reset_task = "api/task/reset";
    $scope.url_api_stop_task = "api/task/stop";
    $scope.url_api_delete_task = "api/task/delete";
    $scope.url_task_create = '/task/create';
    $scope.url_task_logs = '/task/logs';
   
    $scope.init = function () {
      $scope.func_show_all_task();
    };
    $scope.func_goto_create= function() {
       $window.location.href = $scope.url_task_create;
    }
    $scope.func_show_all_task = function () {
      $.ajax({
        type: "POST",
        url: $scope.url_api_show_all_task,
        success: function (res) {
          $scope.$apply(function() {
            $scope.task_list = res;
          }); 
          ShowLoading(false);
        },
        error: function (jqXHR) {
        },
      });
    };
    $scope.func_start_task = function(guid) {
      ShowLoading(true);
      var _data = {
        'guid' : guid,
      }
      $.ajax({
          type: "POST",
          url: $scope.url_api_start_task,
          data: _data,
          success: function (res) {
            $scope.func_show_all_task()
          },
          error: function (jqXHR) {
            Swal.fire({
              icon: "error",
              title: jqXHR.status + ' ' + jqXHR.statusText  ,
              text: jqXHR.responseText,
            });
          },
        });
    }
    $scope.func_stop_task = function(guid) {
        ShowLoading(true);
        var _data = {
          'guid' : guid,
        }
        $.ajax({
          type: "POST",
          url: $scope.url_api_stop_task,
          data: _data,
          success: function (res) {
            $scope.func_show_all_task()
          },
          error: function (jqXHR) {
            Swal.fire({
              icon: "error",
              title: jqXHR.status + ' ' + jqXHR.statusText  ,
              text: jqXHR.responseText,
            });
          },
        });
    }
    $scope.func_log_task = function(guid) {
      ShowLoading(true);
      $window.location.href = $scope.url_task_logs + '?guid=' + guid;
    }
    $scope.func_reset_task = function(guid) {
      ShowLoading(true);
      var _data = {
        'guid' : guid,
      }
      $.ajax({
          type: "POST",
          url: $scope.url_api_reset_task,
          data: _data,
          success: function (res) {
              ShowLoading(false);
               $scope.func_show_all_task()
          },
          error: function (jqXHR) {
            Swal.fire({
              icon: "error",
              title: jqXHR.status + ' ' + jqXHR.statusText  ,
              text: jqXHR.responseText,
            });
          },
        });
    }
    $scope.func_delete_task = function(guid) {
      var _data = {
        'guid' : guid,
      }
      Swal.fire({
        title: 'Are you sure?',
        text: "Would you like to delete this ?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then(function(result){
        if (result.isConfirmed) {
          $.ajax({
            type: "POST",
            url: $scope.url_api_delete_task,
            data: _data,
            success: function (res) {
              Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
              ).then(function() {
                $scope.func_show_all_task()
              });
            },
            error: function (jqXHR, exception) {
              Swal.fire({
                icon: "error",
                title: jqXHR.status + ' ' + jqXHR.statusText  ,
                text: jqXHR.responseText,
              });
            }
          });
        }
      });
    }
    $scope.func_edit_task = function(guid) {
      ShowLoading(true);
      $window.location.href = '/task/edit?guid='+ guid;
    }
    $scope.init();
  });
</script>

{% endblock %}